<!DOCTYPE html>
<html lang="en">
<% include ../../../partials/head.ejs %>

<body>
<% include ../../../partials/nav.ejs %>
<main>
    <h1><%= title %></h1>
    <hr>
    <aside>
        <pre><%- JSON.stringify(parsedUrl, null, 2) %></pre>
    </aside>

    <form>
        <div class="row">
            <div class="col-4">
                <label for="username"></label>
                <input id="username" type="text" placeholder="Username"autocomplete="username">
                <label for="password"></label>
                <input id="password" type="password" placeholder="Password" autocomplete="current-password">
            </div>
            <div class="col">
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>

</main>
<script>
    document.addEventListener("DOMContentLoaded", function () {

    })
</script>
</body>

</html>
