<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/classless.css'/>
</head>
<style>
    textarea, input, button, select {
        border-radius: .2rem;
        border: .1rem solid var(--cmed);
        padding: 0.3rem;
        outline: none;
    }

    button {
        width: 100%
    }

    kbd {
        font-weight: bold;
        display: block;
        margin-top: 2rem;
        color: #0065bd;
        background-color: #edf6fc;
    }

    main {
        min-height: 100vh;
    }
</style>
