<nav>
    <ul>
        <li><a id="welcome" href="/"><img src="/favicon.png" style="height: 1.1rem" alt="icon"></a></li>
        <li><a href="#">Prechecks ▾</a>
            <ul>
                <li><a id="cookie-support" href="/precheck/cookie-support">cookie-support</a></li>
                <li><a id="fingerprint" href="/precheck/fingerprint">fingerprint</a></li>
                <li><a id="js-support" href="/precheck/js-support">js-support</a></li>
            </ul>
        </li>
        <li><a href="#">Attacks ▾</a>
            <ul>
                <li><a id="credential-theft" href="/attack/credential-theft">credential-theft</a></li>
                <li><a id="history-theft" href="/attack/history-theft">history-theft</a></li>
                <li><a id="persistent-mitm" href="/attack/persistent-mitm">persistent-mitm</a></li>
                <li><a id="privilege-abuse" href="/attack/privilege-abuse">privilege-abuse</a></li>
                <li><a id="session-hijacking" href="/attack/session-hijacking">session-hijacking</a></li>
            </ul>
        </li>
        <li class="float-right"><a id="login" href="/login">login</a></li>
        <li class="float-right"><a id="home" href="/home">home</a></li>
        <li class="float-right"><a id="location" href="/location">location</a></li>
    </ul>
</nav>
