<!DOCTYPE html>
<html lang="en">
<% include ../../../partials/head.ejs %>

<body>
<% include ../../../partials/nav.ejs %>
<main>
    <h1><%= title %></h1>
    <hr>
    <% include ../../../partials/url.ejs %>
    <kbd>request-cookies</kbd>
    <pre><code id="request-cookies"><%- JSON.stringify(requestCookies, null, 2) %></code></pre>
    <kbd>document-cookies</kbd>
    <pre><code id="document-cookies"></code></pre>
</main>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    function getCookies (tld) {
      const decodedCookie = decodeURIComponent(document.cookie);
      const cookies = Object.fromEntries(decodedCookie.split(';')
        .map(cookie => cookie.trim())
        .map(cookie => [cookie.split('=')[0], cookie.split('=').slice(1).join('=')]));
      if (tld) {
        return Object.keys(cookies)
          .filter(cookieKey => cookieKey.indexOf(tld) > -1)
          .reduce((a, e) => (a[e] = cookies[e], a), {});
      }
      return cookies
    }

    document.getElementById('document-cookies').innerText = JSON.stringify(getCookies(), null, 2)
  })
</script>
</body>

</html>
