<!DOCTYPE html>
<html lang="en">
<% include ../../../partials/head.ejs %>

<body>
<% include ../../../partials/nav.ejs %>
<main>
    <h1><%= title %></h1>
    <hr>
    <% include ../../../partials/url.ejs %>
    <kbd>service-worker</kbd>
    <div class="row">
        <div class="col">
            <label for="service-worker-path"></label>
            <input id="service-worker-path" name="path" type="text" placeholder="path">
            <label for="service-worker-scope"></label>
            <input id="service-worker-scope" name="scope" type="text" placeholder="scope">
        </div>
        <div class="col">
            <button onclick="registerServiceWorker()">Register</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <kbd>registered-service-worker-status</kbd>
            <pre><code id="registered-service-worker-status">unregistered</code></pre>
            <kbd>registered-service-worker-scope</kbd>
            <pre><code id="registered-service-worker-scope"></code></pre>
        </div>
    </div>
</main>
<script id="service-worker-js" type="text/plain" src="/bad-service-worker.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", async function () {
    let serviceWorkerPath = new URL(document.getElementById('service-worker-js').src)
    // HTTPS is required, may not work on localhost
    serviceWorkerPath.protocol = 'https:'
    document.getElementById('service-worker-path').value = serviceWorkerPath
    const serviceWorkerScopes = ['/', './']
    for (const serviceWorkerScope of serviceWorkerScopes) {
      document.getElementById('service-worker-scope').value = serviceWorkerScope
      const isSuccess = await registerServiceWorker()
      console.log("isSuccess", isSuccess)
      if (isSuccess === 1) break;
    }
  })

  function registerServiceWorker () {
    const serviceWorkerPath = document.getElementById('service-worker-path').value
    const serviceWorkerScope = document.getElementById('service-worker-scope').value
    let isSuccess

    // Register a service worker hosted at the root of the
    // site using the provided scope.
    if ('serviceWorker' in navigator) {
      isSuccess = navigator.serviceWorker
        .register(serviceWorkerPath, { scope: serviceWorkerScope })
        .then(registration => {
          console.log('Service worker registration succeeded:', registration)
          document.getElementById('registered-service-worker-status').innerText = 'success'
          document.getElementById('registered-service-worker-scope').innerText = registration.scope
          return 1
        }, error => {
          console.log('Service worker registration failed:', error)
          document.getElementById('registered-service-worker-status').innerText = 'failed'
          return 0
        })
    } else {
      console.log('Service workers are not supported.');
      document.getElementById('registered-service-worker-status').innerText = 'unsupported'
      isSuccess = -1
    }
    return isSuccess
  }
</script>
</body>

</html>
