<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>
<% include ../partials/nav.ejs %>
<main>
    <h1><%= title %></h1>
    <hr>
    <% include ../partials/url.ejs %>
    <kbd>username</kbd>
    <pre><code id="username"><%= username %></code></pre>
</main>
<script>
</script>
</body>

</html>
