<!DOCTYPE html>
<html lang="en">
<% include ../../../partials/head.ejs %>

<body>
<% include ../../../partials/nav.ejs %>
<main>
    <h1><%= title %></h1>
    <hr>
    <% include ../../../partials/url.ejs %>
    <kbd>geolocation-permission</kbd>
    <pre><code id="geolocation-permission"></code></pre>
    <div class="row">
        <div class="col">
            <kbd>latitude</kbd>
            <pre><code id="latitude"></code></pre>
        </div>
        <div class="col">
            <kbd>longitude</kbd>
            <pre><code id="longitude"></code></pre>
        </div>
    </div>
</main>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    function handlePermission () {
      navigator.permissions.query({ name: 'geolocation' }).then(function (result) {
        if (result.state === 'granted') {
          report(result.state);
          navigator.geolocation.getCurrentPosition(showPosition);
        } else if (result.state === 'prompt') {
          report(result.state);
          navigator.geolocation.getCurrentPosition(showPosition);
        } else if (result.state === 'denied') {
          report(result.state);
        }
        result.onchange = function () {
          report(result.state);
        }
      });
    }

    function report (state) {
      document.getElementById("geolocation-permission").innerText = state
    }

    function showPosition (position) {
      document.getElementById("latitude").innerText = position.coords.latitude.toString()
      document.getElementById("longitude").innerText = position.coords.longitude.toString()
    }

    handlePermission()
  })
</script>
</body>

</html>
